@font-face {
    font-family: 'Gamer';
    src: url(./font/TechnoRaceItalic.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
}

.section-title {
    font-family: 'Gamer', cursive;
    font-weight: normal;
}

.navbar {
    background-color: #2c2c2c;
}

.navbar h1 {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 6px 12px 0 8px;
    font-size: 3rem;
}

.border-ge {
    border: 3px solid #2c2c2c;
    padding: 8px;
    font-size: 2.5rem;
    background-color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #2c2c2c;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #f5f5f5;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #f5f5f5;
}

.sobre {
    display: flex;
    align-items: center;
    min-height: 65vh;
}

.text-colored {
    color: #2c2c2c;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #2c2c2c;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #2c2c2c;
}

#cardapio {
    min-height: 85vh;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

#fale-conosco button:hover {
    border: 1px solid #fff;
}

#eventos {
    min-height: 85vh;
    display: flex;
    align-items: center;
}

footer {
    padding: 24px;
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
}

footer .container a {
    color: #fff;
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}